<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}" type="text/css">
        <title>error 403</title>
    </head>
    <body>
        <div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
    <h1>Error <span class="errorcode">403</span></h1>
    <p class="output">Oops! parece que no te has registrado...</p>
    <p class="output">Por favor intenta <a href="javascript: history.go(-1)">ir atras</a> o <a href="/">vuelve a la pagina principal</a>.</p>
    <p class="output">Buena suerte.</p>
</div>
    </body>
</html>