<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://kit.fontawesome.com/c0078485ae.js" crossorigin="anonymous"></script>
    <!--{{ url_for('static', filename='css/style.css') }}-->
    <title>DeepBlur</title>
</head>
<!--https://undraw.co/-->
<body>
    <div class="container">
        <div class="img">
            <img src="{{url_for('static', filename='img/main-img.png')}}" alt="unDraw.co">
        </div>
        <div class="login-container">
            <form class="form-login" action="{{ url_for('api_register') }}" method="post">
                <h3>Enjoy your free time with </h3>
                <h2>DeepBlur</h2>
                <a>Register now for beta launch and discover a new world!</a>
                <div class="input-div one">
                    <div>
                        <label>Name</label>
                        <input name="name" class="input-n" type="text">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="div">
                        <label>Email</label>
                        <input name="email" class="input-m" type="email">
                    </div>
                </div>
                <input type="submit" class="btn" value="Register">
                <a href="#">Terms and conditions</a>
            </form>
        </div>
    </div>
</body>
<footer>
    <div class="footer">
        <div class="row">
            <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Career</a></li>
            </ul>
        </div>
        <div class="row">
            DeepBlur 2022 | PM-Interactive
        </div>
    </div>
</footer>
</html>